= render :partial => 'races/standard_parts'

- if @instance.has_results?
  %table.results
    %thead
      = render :partial => 'race_performances/headings'
    %tbody
      = render :partial => 'race_performances/performance', :collection => @performances.completed
      = render :partial => 'race_performances/performance', :collection => @performances.incomplete

- else
  %p.noresults
    Not available yet.

- content_for :breadhead do
  = link_to "Races", races_url
  = t('separator')
  = link_to @instance.race.name, race_url(@instance.race), :class => 'breadhead'
  = t('separator')
  = link_to @instance.name, race_instance_url(@instance), :class => 'breadhead'
  = t('separator')

- content_for :title do
  = @instance.full_name
  = @club.name

- content_for :introduction do
  %p
    There were
    = @performances.count
    competitors from
    = @club.name + ':'
