- trclass ||= performance.prized? ? 'prized' : 'finisher'

%tr{:class => trclass}
  %td
    - if performance.finished?
      = performance.position
    - else
      = performance.status
  %td
    = link_to performance.name, race_performance_url(@instance.race, @instance, performance)
  %td
    - if performance.club
      = link_to_unless_current performance.club.name, race_club_url(@instance.race, @instance, performance.club)
  %td
    = link_to_unless_current performance.race_category.name, race_category_url(@instance.race, @instance, performance.race_category)
  %td
    - if performance.finished?
      = performance.elapsed_time
  %td
    - if performance.finished?
      = performance.prizes
