- trclass ||= performance.prized? ? 'prized' : 'finisher'

%tr{:class => trclass}
  %td.pos
    - if performance.finished?
      = performance.position
    - else
      = performance.status
  %td.name
    = performance.name
  %td.club
    - if performance.club
      = link_to_unless_current performance.club.name, race_club_url(@instance.race, @instance, performance.club)
  %td.cat
    = link_to_unless_current performance.race_category.name, race_category_url(@instance.race, @instance, performance.race_category)
  %td.time
    - if performance.finished?
      = performance.elapsed_time
  %td.prizes
    - if performance.finished?
      = performance.prizes
