- performance ||= splits

%tr
  %td.pos
    - if performance.finished?
      = link_to performance.position, race_performance_url(@instance.race, @instance, performance)
    - else
      = performance.status
  %td.runner
    = link_to performance.name, race_performance_url(@instance.race, @instance, performance)
  - previous = nil
  - splits = @splits[performance.id] || []
  - @checkpoints.each do |cp|
    %td.cpt
      - if t = splits[cp.id]
        = t
        - if previous
          %br
            %span.note
              = t - previous
        - previous = t
      - else
        - previous = nil
        &mdash;
  %td.time
    = performance.elapsed_time
    - if previous
      %br
        %span.note
          = performance.elapsed_time - previous
