- detail ||= false
- performance ||= splits
- checkpoints = @checkpoints || @instance.checkpoints
- splits = if @splits
  - @splits[performance.id] || []
- else
  - performance.splits

%tr
  %td.pos
    - if performance.finished?
      = link_to performance.position, race_performance_url(@instance.race, @instance, performance)
    - else
      = performance.status
  %td.runner
    = link_to performance.name, race_performance_url(@instance.race, @instance, performance)
  - previous = nil
  
  - checkpoints.each do |cp|
    %td.cpt
      - if t = splits[cp.id]
        = t
        - if previous
          %br
            %span.note
              = t - previous
        - previous = t
      - else
        - previous = nil
        &mdash;

- if detail
  - cpts = performance.checkpoint_times
  
  %tr
    %th{:colspan => 2}
      Position
    - cpts.each do |cpt|
      %td.pos
        = cpt.position
  %tr
    %th{:colspan => 2}
      Leg Position
    - cpts.each do |cpt|
      %td.pos
        = cpt.leg_position
  %tr
    %th{:colspan => 2}
      Gain
    - cpts.each do |cpt|
      %td.pos
        = -cpt.gain
