- @races.each do |race|
  .race
  
    %h2
      = link_to race.name, race_url(race)
      %span.headernote
        = race.distance 
        miles,
        = race.climb.to_s + "'"

    - if race.picture_asset
      .race_illustration
        = image_tag race.picture_asset.thumbnail(:grid_4)

    .race_description
      %p.race_instances
        - if next_instance = race.next
          Next:
          = link_to next_instance.nice_start_date, race_url(race)
          %br
        - if race.instances.with_results.any?
          Results:
          = race.instances.with_results.map { |instance| link_to instance.name, race_instance_url(race, instance) }.join(', ')
        - if race.map_asset
          = link_to "Download map", race.map_asset.thumbnail('original'), :class => 'racemap'

      %p
        = truncate_words(race.description, 36)

- content_for :title do
  Races

- content_for :introduction do
  - if next_instance = RaceInstance.future.first
    %p.next_race
      Next race:
      %strong
        = link_to "#{next_instance.race.name} on #{next_instance.nice_start_date}", race_instance_url(next_instance.race, next_instance)
