- content_for :breadhead do
  - home = Page.find_by_parent_id(nil)
  = link_to home.breadcrumb, home.url
  \&gt;
  = link_to "Races", races_url
  \&gt;
  
- content_for :title do
  = @race.name
  
- content_for :subtitle do
  = @race.distance 
  miles,
  = @race.climb
  climb

- content_for :next do
  - if next_instance = @race.next
    Next race:
    = next_instance.nice_start_date + ','
    at
    = next_instance.nice_start_time + "."

- content_for :notes do
  - if next_instance = @race.next
    = next_instance.filter.filter(next_instance.notes)

- content_for :illustration do
  - if @race.picture_asset
    .illustration.thumbs
      = image_tag @race.picture_asset.thumbnail(:square)
      %span.frame
      %p.caption
        = @race.picture_asset.caption
    
- content_for :description do
  = RedCloth.new(@race.description).to_html

- content_for :checkpoints do
  %h2.checkpoints
    Checkpoints
  - if @race.checkpoints.any?
    %ul.checkpoints
      - @race.checkpoints.each do |cp|
        %li
          %span.checkpoint
            = cp.name
          %span.info
            = cp.location
  - else 
    %p No checkpoints defined.
    
- content_for :map do
  - if @race.map_asset
    %h2.map
      = link_to "Download map", @race.map_asset.thumbnail('original'), :class => 'racemap'

- content_for :records do
  %h2.records
    Records
  - if @race.records.any?
    %ul.race_records
      - @race.records.each do |record|
        %li
          %span.record
            = record.race_category.name + ':'
            = record.elapsed_time
          %span.info
            by
            = record.holder
            in
            = record.year
        
  - else
    %p.norecords
      None yet

- content_for :results do
  Results:
  - if @race.instances.with_results.any?
    - @race.instances.with_results.each do |instance|
      = link_to instance.name, race_instance_url(@race, instance)
  - else
    None yet
