= render :partial => 'races/standard_parts'

- content_for :breadhead do
  = link_to "Races", races_url
  = t('race_results_extension.separator')
  
- content_for :title do
  = @race.name
  
- content_for :subtitle do
  - if @race.cat
    = @race.cat + ":"
  = @race.distance.to_s
  miles,
  = @race.climb.to_s + "'"
  climb. 

- content_for :next do
  - if next_instance = @race.next
    Next race:
    = next_instance.nice_start_date
    at
    = next_instance.nice_start_time + "."

- content_for :notes do
  - if next_instance = @race.next
    = next_instance.filter.filter(next_instance.notes)
    
- content_for :description do
  = RedCloth.new(@race.description).to_html

- content_for :checkpoints do
  %h2.checkpoints
    Checkpoints
  - if @race.checkpoints.any?
    %ul.checkpoints
      - @race.checkpoints.each do |cp|
        %li
          %span.checkpoint
            = cp.name
          %span.info
            = cp.location
  - else 
    %p No checkpoints defined.
    
- content_for :map do
  - if asset = @race.map_asset
    = link_to image_tag(asset.thumbnail(:square), :class => 'bordered'), asset.thumbnail(:full), :class => "thumbnail", :rel => asset.thumbnail(:original)
    - unless asset.caption.blank?
      %p.caption
        = asset.caption

- content_for :illustration do
  - if asset = @race.picture_asset
    = link_to image_tag(asset.thumbnail(:square), :class => 'bordered'), asset.thumbnail(:full), :class => "thumbnail", :rel => asset.thumbnail(:original)
    - unless asset.caption.blank?
      %p.caption
        = asset.caption

- content_for :records do
  %h2.records
    Records
  - if @race.records.any?
    %ul.race_records
      - @race.records.each do |record|
        %li
          %span.record
            = record.race_category.name + ':'
            = record.elapsed_time
          %span.info
            by
            = record.holder
            in
            = record.year
        
  - else
    %p.norecords
      None yet

- content_for :results do
  Results:
  - if @race.instances.with_results.any?
    = @race.instances.with_results.map { |instance| link_to instance.name, race_instance_url(@race, instance) }.join(', ') + '.'
  - else
    None yet.

- content_for :see_also do
  .see_also
    %p
      More races:
      = Race.except(@race).map {|race| link_to race.name, race_url(race) }.join(', ') + '.'
    


- content_for :introduction do
  = yield :subtitle
  %br
  = yield :results
  %br
  = yield :next

- content_for :sidebar do
  = yield :illustration
  = yield :map

= yield :description
= yield :checkpoints
= yield :records
= yield :see_also
