- if race.picture_asset
  .illustration
    = image_tag race.picture_asset.thumbnail(:grid_4)

= @race.description

%div.checkpoints
  %h2
    Checkpoints

  - if @race.checkpoints.any?
    %ul.checkpoints
      - @race.checkpoints.each do |cp|
        %li
          = cp.name
          %span.info
            = cp.location
  - else 
  %p No checkpoints defined.
      
- if race.map_asset
  %p
    = link_to "Download map", race.map_asset.thumbnail('original'), :class => 'racemap'

%div.results
  %h2
    Records
  - if @race.records.any?
    %ul.race_records
      - @race.records.each do |record|
        %li
          %strong
            = record.race_category.name + ':'
            = record.elapsed_time
          by
          = record.holder
          in
          = record.year
          
  - else
    %p.noresults
      None yet

%div.results
  %h2
    Results
  - if @race.instances.with_results.any?
    %ul.race_instances
      - @race.instances.with_results.each do |instance|
        %li
          = link_to instance.name, race_instance_url(@race, instance)
  - else
    %p.noresults
      None yet


- content_for :breadhead do
  = link_to "Races", races_url, :class => 'breadhead'

- content_for :title do
  = @race.name
  
- content_for :subtitle do
  = @race.distance 
  miles,
  = @race.climb
  climb

- content_for :introduction do
  - if next_instance = @race.next
    %div.future_race
      %p
        Next race:
        %strong
          = next_instance.nice_start_date + ','
          at
          = next_instance.nice_start_time + "."

      = next_instance.filter.filter(next_instance.notes)
