- with_value ||= false
- cssclass = f.object.new_record? ? 'adding subform' : 'subform'
%div{:class => cssclass}
  .name
    = f.label :name, "Checkpoint Name"
    = f.text_field :name, :class => 'textbox'
  .location
    = f.label :location, "Location"
    = f.text_field :location, :class => 'textbox'
  .value
    - if with_value
      = f.label :value, "Value"
      = f.text_field :value, :class => 'textbox'

  - if f.object.new_record?
    = link_to_function "cancel", "this.up('.subform').remove()"
  - else
    = f.check_box '_delete', { :onclick=>"this.checked ? this.up('.subform').addClassName('deleting') : this.up('.subform').removeClassName('deleting')" , :class => 'record_delete'}
    = f.label '_delete', 'delete', :class => 'quiet'
