%tr.node.level-1
  - render_region :tbody do |tbody|
    - tbody.title_cell do
      %td.race_name
        %p
          = link_to race.name, edit_admin_race_url(race)
          = link_to(image('minus'), admin_race_url(race), :class => 'remove', :method => :delete, :title => "Delete #{race.name} and all results", :confirm => "Do you really want to delete the race #{race.name} and all its results?") 
          %br
          %span.info
            = race.distance 
            miles, 
            = "#{race.climb}'"
            climb
            - if race.records.any?
              %br
              Records:
              = race.records.map{ |record| "#{record.race_category.name}: #{record.elapsed_time}"}.join(', ')

    - tbody.instances_cell do
      %td.race_instances
        %ul.instances
          - column = 0
          - race.instances.each do |ri|
            %li{:class => (column % 4 == 0) ? "newline" : "floating"}
              = link_to "#{ri.name}", edit_admin_race_race_instance_url(race, ri)
              = link_to("#{image('minus')}", admin_race_race_instance_url(race, ri), :class => 'remove', :method => :delete, :confirm => "really delete #{ri.full_name}?") 
              %br
              %span.info
                - if ri.performances.any?
                  = ri.performances.count
                  competitors
                - else
                  no results yet
            - column = column + 1
        %p.new_instance
          = link_to("#{image('plus', :alt => 'add results')} add an occasion", new_admin_race_race_instance_url(race)) 
