%tr.node.level-1
  - render_region :tbody do |tbody|
    - tbody.title_cell do
      %td.race_name
        = link_to race.name, edit_admin_race_url(race)

    - tbody.instances_cell do
      %td.race_instances
        - race.instances.each do |ri|
          = link_to ri.name, edit_admin_race_race_instance_url(race, ri)
          %span.separator |
        = link_to(image('plus', :alt => 'add results'), new_admin_race_race_instance_url(race)) 

    - tbody.modify_cell do
      %td.modify
        - if admin?
          = link_to(image('remove', :alt => 'Remove Race'), admin_race_url(race), :method => :delete, :confirm => "really delete race #{race.name}?") 
