= render :partial => 'races/standard_parts'

- content_for :results do
  - if @instance.has_results?
    = render :partial => 'summary'
      
    %table.ranking
      %thead
        %tr
          - %w{Pos Name Club Cat Time}.each do |h|
            %th{:class => h.downcase}
              =h
          %th.prizes
      %tbody
        = render :partial => 'race_performances/performance', :collection => @performances.completed
        = render :partial => 'race_performances/performance', :collection => @performances.incomplete, :locals => {:trclass => 'unfinished'}
  - else
    %p.noresults
      Not available yet.

- content_for :breadhead do
  = link_to "Races", races_url, :class => 'breadhead'
  = t('separator')
  = link_to @instance.race.name, race_url(@instance.race), :class => 'breadhead'

- content_for :title do
  - if @club
    = "#{@instance.full_name}: #{@club.name}"
  - elsif @category
    = "#{@instance.full_name}: #{@category.name}"
  - else
    = @instance.full_name
  
- content_for :introduction do
  - if @instance.past?
    = @instance.filter.filter(@instance.report)
  - else
    = @instance.filter.filter(@instance.notes)

- content_for :see_also do
  .see_also
    %p
      - if @instance.splits_available?
        = link_to "#{@instance.full_name} Split times", race_splits_url(@race, @instance)
        %br
      - if others = @race.instances.with_results.select{|i| i != @instance}
        More 
        = @race.name
        results:
        = others.map { |instance| link_to instance.name, race_instance_url(@race, instance) }.join(', ') + '.'
        %br
      More races:
      = Race.except(@race).map {|race| link_to race.name, race_url(race) }.join(', ') + '.'



= yield :results
= yield :see_also
