= render :partial => 'races/standard_parts'
- header_partial = @mode == 'splits' ? 'race_performances/splits_headings' : 'race_performances/headings'
- results_partial = @mode == 'splits' ? 'race_performances/splits' : 'race_performances/performance'

- content_for :results do
  - if @instance.has_results?
    - if @club || @category
      %p.subset
        Showing only 
        - if @club
          %strong
            = @club.name
        - if @category
          %strong
            = @category.name
        %br
        = link_to "Show all results.", race_instance_url(@race, @instance)
      
    %table.results
      %thead
        = render :partial => header_partial
      %tbody
        = render :partial => results_partial, :collection => @performances.completed
        = render :partial => results_partial, :collection => @performances.incomplete, :locals => {:trclass => 'unfinished'}

  - else
    %p.noresults
      Not available yet.

- content_for :breadhead do
  = link_to "Races", races_url, :class => 'breadhead'
  = t('separator')
  = link_to @instance.race.name, race_url(@instance.race), :class => 'breadhead'

- content_for :title do
  = @instance.full_name

- content_for :introduction do
  - if @instance.past?
    = @instance.filter.filter(@instance.report)
  - else
    = @instance.filter.filter(@instance.notes)

- content_for :see_also do
  .see_also
    %p
      - if others = @race.instances.with_results.select{|i| i != @instance}
        More 
        = @race.name
        results:
        = others.map { |instance| link_to instance.name, race_instance_url(@race, instance) }.join(', ') + '.'
        %br
      More races:
      = Race.except(@race).map {|race| link_to race.name, race_url(race) }.join(', ') + '.'



= yield :results
= yield :see_also
