- if @instance.has_results?
  - if @club || @category
    %p.subset
      Showing only 
      - if @club
        %strong
          = @club.name
      - if @category
        %strong
          = @category.name
      %br
      = link_to "Show all results.", race_instance_url(@race, @instance)
      
  %table.results
    %thead
      = render :partial => 'race_performances/headings'
    %tbody
      = render :partial => 'race_performances/performance', :collection => @performances.completed
      = render :partial => 'race_performances/performance', :collection => @performances.incomplete, :locals => {:trclass => 'unfinished'}

- else
  %p.noresults
    Not available yet.

- content_for :breadhead do
  = link_to "Race results", races_url, :class => 'breadhead'

- content_for :title do
  = @instance.full_name
  
- content_for :subtitle do
  = @race.distance 
  miles,
  = @race.climb
  climb

- content_for :introduction do
  - if @instance.past?
    = @instance.filter.filter(@instance.report)
  - else
    = @instance.filter.filter(@instance.notes)

- content_for :see_also do
  - if others = @race.instances.with_results.select{|i| i != @instance}
    .see_also
      %p
        More 
        = @race.name
        results:
        = others.map { |instance| link_to instance.name, race_instance_url(@race, instance) }.join(', ')
  

