= render :partial => 'races/standard_parts'

- content_for :results do
  - if @instance.has_results?
    = render :partial => 'summary', :locals => {:splitting => true}
    %table.splits
      %thead
        %tr
          %th.pos
            pos
          %th.runner
            name
          - @instance.race.checkpoints.each do |cp|
            %th.cpt
              =cp.name
          %th.time
            Finish
      %tbody
        = render :partial => 'race_performances/splits', :collection => @performances.completed

  - else
    %p.noresults
      Not available yet.

- content_for :breadhead do
  = link_to "Races", races_url, :class => 'breadhead'
  = t('separator')
  = link_to @instance.race.name, race_url(@instance.race), :class => 'breadhead'
  = t('separator')
  = link_to @instance.name, race_instance_url(@instance.race, @instance), :class => 'breadhead'

- content_for :title do
  = "#{@instance.full_name}: splits"

- content_for :introduction do
  - if @instance.past?
    = @instance.filter.filter(@instance.report)
  - else
    = @instance.filter.filter(@instance.notes)

- content_for :see_also do
  .see_also
    %p
      = link_to "#{@instance.full_name} results", race_instance_url(@race, @instance)
      %br
      - if others = @race.instances.with_results.select{|i| i != @instance}
        More 
        = @race.name
        results:
        = others.map { |instance| link_to instance.name, race_instance_url(@race, instance) }.join(', ') + '.'
        %br
      More races:
      = Race.except(@race).map {|race| link_to race.name, race_url(race) }.join(', ') + '.'



= yield :results
= yield :see_also
