- cssclass = f.object.new_record? ? 'adding subform' : 'subform'
%div{:class => cssclass}
  .category
    = f.label :race_category, "Cat"
    = f.select("race_category_id", RaceCategory.all.collect {|rc| [ rc.name, rc.id ] }, {}, {:class => 'textbox'})
  .time
    = f.label :elapsed_time, "Time"
    = f.text_field :elapsed_time, :class => 'textbox'
  .holder
    = f.label :holder, "Holder"
    = f.text_field :holder, :class => 'textbox'
  .year
    = f.label :year, "Year"
    = f.text_field :year, :class => 'textbox'
  .options
    - if f.object.new_record?
      = link_to_function "cancel", "this.up('.subform').remove()"
    - else
      = f.check_box '_delete', { :onclick=>"this.checked ? this.up('.subform').addClassName('deleting') : this.up('.subform').removeClassName('deleting')" , :class => 'record_delete'}
      = f.label '_delete', 'delete', :class => 'quiet'
