- include_stylesheet calendar_date_select_stylesheets(:style => 'silver')
- include_javascript calendar_date_select_javascripts

= render_region :form_top

- if @race_instance.errors.any?
  %p.haserror
    Sorry: there were problems:
    %br
    = @race_instance.errors.full_messages

- render_region :form do |form|

  
  - form.edit_name do
    %h2 Before the race
    %p.title
      = f.label :name, "Title"
      %span.formnote
        to identify this results set (eg '2010' will show as 
        %strong
          = @race.name
          2010)
      = f.text_field :name, :class => 'textbox', :maxlength => 100 

  - form.edit_metadata do
    #extended-metadata{ :class => "row", :style => "display: none" }
      %table.fieldset{ :cellpadding => "0", :cellspacing => "0", :border => "0" }
        %tr
          %td.label
            = f.label :slug, 'Slug'
          %td.field
            = f.text_field :slug, :class => 'textbox', :maxlength => 255 
        = render_region :extended_metadata
    %p
      %small
        %a{ :id => "more-extended-metadata", :href => "#", :onclick => "#{toggle_javascript_for('extended-metadata')}; return false;" } More
        %a{ :id => "less-extended-metadata", :href => "#", :onclick => "#{toggle_javascript_for('extended-metadata')}; return false;", :style => "display: none" } Less

  - form.edit_start do
    %p.start
      = f.label :start, "Start time and date"
      %br
      = f.calendar_date_select :started_at, :class => 'textbox date'

  - form.edit_notes do
    %p.start
      = f.label :notes, "Notes for competitors"
      %span.formnote
        if anything is different on this occasion
      %br
      = f.text_area "notes", :size => '40x6', :class => "textarea" 

  - form.edit_file do
    %h2 After the race
    %p.upload
      %label.upload 
        Upload results file
      %br
      = f.file_field :results, :class => "upload"
    %ul.help
      %li
        Results should be uploaded as a CSV file with a header row.
      %li
        These headings are understood:
        %code name, pos, position, time, start, finish, club, cat, category
      %li
        Any heading we don't recognise is assumed to be a checkpoint column.
      %li
        Categories will be turned into the standard 
        %code LVxx
        and 
        %code MVxx
        format. 
        %code Uxx
        is also understood.
      %li 
        Times should be recorded as 
        %code hh:mm:ss.
        
  - form.edit_report do
    %p.start
      = f.label :report, "Race Report"
      %br
      = f.text_area "report", :size => '40x12', :class => "textarea" 
